{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


{% assign color = color | modulo: 2 %}


{% if color == 1 %}
  {% assign color_16 = "rgba(0,0,0,0.05)" %}
{% elsif color == 0 %}
  {% assign color_16 = "rgba(255,255,255,0.1)" %}
{% else}
  {% assign color_16 = "#007bff" %}
{% endif %}

<!-- <div style="background-color: rgba(15, 15, 190, 0.447);">
  <p>test</p>
</div> -->

<div class="{{ include.type | default: "list" }}__item" style="background-color: {{ color_16 | default: "#dc3545" }} ">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <div style="display: grid; grid-template-columns: 30% 70%; place-items: center; grid-template-rows: auto ">
    {% if teaser %}
      <div class="archive__item-teaser" >
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <style>
      .compact {
        margin: 0px 0; 
      }
    </style>



    <div class="compact">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %} -->
    {% if post.authors %}
      {{post.authors}}
    {% endif %}
    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
      {% if post.accepted %}
        <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        {% else %}
        <p>Submitted to <i>{{ post.venue }}</i>,{{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% endif %} 
    {% endif %}
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p><i class="fas fa-file-alt" aria-hidden="true"></i> <a href="{{ post.paperurl }}"><u>arXiv</u></a></p>
    {% endif %}
    </div>
    </div>
  </article>
</div>
